*{ margin:0;padding:0; }
html,body{ height: 100%; }

button{ background: blue; color:#fff; padding:5px 10px;border:none; }
.control{width:100%;position: fixed; left:0;bottom: 0;font-size: 0;z-index: 101;}

.control-main{ background: rgba(0,0,0,0.55); border-top-left-radius: 25px;position: relative;}
.control-action{position: absolute;right: 0;bottom:80px;}
.control-action .arrow_bg{ border-top-left-radius: 5px; border-top-right-radius: 5px;width:40px;background: #000; padding:5px 0;}
.control-action .arrow_bg .arrow{height: 12px; background:url('../images/arrow.png')  center no-repeat;background-size:20px 12px;}
.control-action .arrow_bg .arrow.close{  transform: rotate(180deg)}
.control-action .row .save{  width:40px;height: 40px;line-height:40px;border-radius: 20px;background: #000;color:#fff;text-align: center;font-size:12px; margin:0 20px 20px 0;}

.control-bar{ display: flex; overflow-x: scroll;background: #0f0e14;padding:3px 15px;}
.control-bar li{ width:55px; float: left;display: flex;flex-shrink:0; align-items: center;-webkit-transition: all linear .3s}
.control-bar li .icon{ 
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: #413e4c url(../images/icons/icon1.png) center no-repeat;
  background-size:20px 20px;
}
.control-bar li:nth-child(2) .icon{
  background: #413e4c url(../images/icons/icon4.png) center no-repeat;
  background-size:20px 20px;
}
.control-bar li:nth-child(3) .icon{
  background: #413e4c url(../images/icons/icon6.png) center no-repeat;
  background-size:20px 20px;
}
.control-bar li:nth-child(4) .icon{
  background: #413e4c url(../images/icons/icon7.png) center no-repeat;
  background-size:20px 20px;
}
.control-bar li .text{ color:#fff;font-size:12px;text-align: center;display: none;width: 40px;}
.control-bar li.active{ width: 80px; }
.control-bar li.active .text{display: block;}


.control-list .control-item{ display: none; } 
.control-list .control-item:first-child{ display: block; }
.control-list .control-item li.active .icon{ margin-top: -2px;}
.control-list .control-item li.active .text{  width:25px; border-bottom:2px solid red;}
.control-list .control-item li.active{ border-bottom:2px solid red; }
.control-list .control-item .control-elements{ display:flex; align-items: center; overflow-x: scroll;}
.control-list .control-elements{ padding:20px 15px 10px; }
.control-list .element{width:60px;display: flex; align-items: center;flex-direction: column;flex-shrink: 0;}
.control-list .element .icon{ margin-bottom: 10px;  }

.control-list .control-role li .icon{ 
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url(../images/icon/role1.png) center no-repeat;
  background-size:40px 40px;
  -webkit-transition: all linear .1s;
}
.control-list .control-role li:nth-child(2) .icon{
  background: url(../images/icon/role2.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(3) .icon{
  background: url(../images/icon/role3.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(4) .icon{
  background: url(../images/icon/role4.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(5) .icon{
  background: url(../images/icon/role5.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(6) .icon{
  background: url(../images/icon/role6.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(7) .icon{
  background: url(../images/icon/role7.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(8) .icon{
  background: url(../images/icon/role8.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(9) .icon{
  background: url(../images/icon/role9.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-role li:nth-child(10) .icon{
  background: url(../images/icon/role10.png) center no-repeat;
  background-size:40px 40px;
}


.control-list .control-room li .icon{ 
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #413e4c url(../images/icons/room1.png) center no-repeat;
  background-size:40px 40px;
  -webkit-transition: all linear .1s;
}
.control-list .control-room li:nth-child(2) .icon{
  background: #413e4c url(../images/icons/room2.png) center no-repeat;
  background-size:40px 40px;
}

.control-list .control-object li .icon{ 
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url(../images/object/object1.png) center no-repeat;
  background-size:40px 40px;
  -webkit-transition: all linear .1s;
}
.control-list .control-object li:nth-child(2) .icon{
  background: url(../images/object/object2.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(3) .icon{
  background: url(../images/object/object3.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(4) .icon{
  background: url(../images/object/object4.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(5) .icon{
  background: url(../images/object/object5.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(6) .icon{
  background: url(../images/object/object6.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(7) .icon{
  background: url(../images/object/object7.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(8) .icon{
  background: url(../images/object/object8.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(9) .icon{
  background: url(../images/object/object9.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(10) .icon{
  background: url(../images/object/object10.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-object li:nth-child(11) .icon{
  background: url(../images/object/object11.png) center no-repeat;
  background-size:40px 40px;
}

.control-list .control-mask li .icon{ 
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url(../images/mask/mask1.png) center no-repeat;
  background-size:40px 40px;
  -webkit-transition: all linear .1s;
}
.control-list .control-mask li:nth-child(2) .icon{
  background: url(../images/mask/mask2.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(3) .icon{
  background: url(../images/mask/mask3.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(4) .icon{
  background: url(../images/mask/mask4.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(5) .icon{
  background: url(../images/mask/mask5.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(6) .icon{
  background: url(../images/mask/mask6.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(7) .icon{
  background: url(../images/mask/mask7.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(8) .icon{
  background: url(../images/mask/mask8.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(9) .icon{
  background: url(../images/mask/mask9.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(10) .icon{
  background: url(../images/mask/mask10.png) center no-repeat;
  background-size:40px 40px;
}
.control-list .control-mask li:nth-child(11) .icon{
  background: url(../images/mask/mask11.png) center no-repeat;
  background-size:40px 40px;
}