* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#app,.container,.el-container {
  height: 100%;
}

.row {
  display: flex;
  .col {
    flex: 0 1 100%;
    max-width: 100%;
  }
  .col-3 {
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  .col-4 {
    flex: 0 0 calc(33.333333% - 20px);
    max-width: calc(33.333333% - 20px);
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  .col-6 {
    flex: 0 1 calc(50% - 10px);
    max-width: 50%;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
}

.menu-link {
  text-decoration: none;
  color: #fff;
}

.btn-group {
  .el-button {
    padding: 5px 8px;
    margin-left: 5px;
  }
}

.logo {
  display: flex;
  align-items: center;
  .img {
    border: none;
    display: inline-block;
    width: 100px;
    max-height: 80px;
    /*background: url("../assets/img/logo.png");*/
  }
  .line {
    height: 30px;
    display: block;
    border-left: 3px solid #333;
    margin: 0 30px;
  }
  .title {
    font-size: 24px;
    color: #222;
    a {
      color: #222;
      text-decoration: none;
    }
  }
}

.action-list {
  margin-bottom: 20px;
  .action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 15px;
    padding: 50px 0;
    /*min-width: 230px;*/
    min-height: 275px;
    border-radius: 10px;
    background: #fff;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .title {
      margin-bottom: 30px;
      margin-top: -20px;
    }
    .description {
      margin-bottom: 40px;
      padding: 0 40px;
      font-size: 14px;
      line-height: 25px;
      min-height: 50px;
      max-height: 50px;
    }
    .content {
      width: 143px;
      height: 143px;
      border-radius: 50%;
      box-shadow: 0px 21px 49px 0px rgba(64, 89, 221, 0.21);
      display: flex;
      align-items: center;
      justify-content: center;
      .action-tag {
        width: 74px;
        height: 73px;
      }
      .action-content {
        width: 81px;
        height: 73px;
      }
      .action-push {
        width: 62px;
        height: 73px;
      }
      .action-user {
        width: 66px;
        height: 74px;
      }
    }
  }
}

.dialog-category {
  .el-dialog__body {
    padding: 10px 20px 30px;
  }
  .form-group {
    margin: 25px 0 10px;
    .el-button {
      width: 100%;
    }
  }
}

.page-welcome {
  padding: 0px;
  .page-title {
    margin-bottom: 20px;
  }
}

.page-contacts {
  .el-tabs {
    width: 100%;
    font-size: 18px;
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    .el-tabs__item {
      font-size: 18px;
      padding: 0 20px;
    }
    .el-tabs__header{
      padding: 0 50px;
    }
    .el-tabs__nav-wrap::after{
      display: none;
    }
  }
  .search-list {
    padding-top: 15px;
    .el-table td {
      padding: 15px 0;
    }
  }
  .search-action {
    margin: 20px 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #fff;
    .info {
      font-size: 16px;
    }
    .el-button {
      width: 150px;
    }
    .el-button--primary.is-disabled {
      color: #fff !important;
    }
  }
}

.page {
  padding: 0 20px;
  .page-header {
    margin: 15px 0 20px;
  }
}

.page-list {
  .search-form {
    margin-bottom: 30px;
    .el-form {
      display: flex;
      flex-wrap: wrap;
      .el-form-item {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .el-form-item__label {
          text-align: left;
          line-height: 25px;
          color: #333;
        }
        .el-select {
          width: 128px;
        }
        .el-input__inner {
          color: #222;
        }
        .el-button {
          width: 120px;
        }
        .el-icon-search {
          margin-right: 5px;
        }
      }
    }
  }
}

ul li {
  list-style-type: none;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.nav {
  padding: 20px 0;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.navs {
  padding: 10px 0 25px;
  display: flex;
  align-items: center;
  i {
    margin: 0 10px;
    -webkit-text-stroke: 1px #fff;
    color: #666; 
    transform: scale(0.9);
  }
  a {
    text-decoration: none;
  }
}

.CodeMirror {
  height: auto !important;
}
.code {
  border: 1px solid #ddd;
  margin: 15px 0;
}

.page {
  height: 100%;
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 22px;
    }
  }
}

.page-home, .page-ui, .page-code {
  padding: 20px;
}

.page-update {
  .form-group {
    margin-bottom: 10px;
    .form-label {
      color: #333;
      font-size: 14px;
      margin-bottom: 5px;
      i {
        margin-right: 5px;
      }
    }
    .el-select {
      width: 100%;
    }
  }
}

.page-card {
  .page-header {
    margin: 0  0 10px;
  }
  .panel {
    margin-bottom: 20px;
    .title {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: rgba(240, 240, 244, 0.3);
  display: none;
  text-align: right;
}
.btn-copy {
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  background: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  right: 0;
}