<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>v-if</title>
  <style>
    #app{ width: 800px; margin: 0 auto; }
  </style>
  <script type="text/javascript" src="//s2.sjbly.cn/s/apps/scripts/vue.min.js"></script>
</head>
<body>
	<div id="app">
    <button @click="handleShow">{{ message }}</button><br/>
    <p v-if="show">你好啊~~</p>
    <p v-show="show">你好啊~~</p>
    <div>
      <template v-if="type === 'A'">
      A
      </template>
      <template v-else-if="type === 'B'">
      B
      </template>
      <template v-else-if="type === 'C'">
      C
      </template>
      <template v-else>
      D
      </template>
    </div>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      show: false,
      type: 'A'
    },
    computed: {
      message: function(){
        return this.show ? 'hide' : 'show'
      }
    },
    methods:{
      handleShow: function(){
        this.show = !this.show
      }
    }
  })
</script>
</html>