<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>简单Store实现数据共享</title>
  <style>
    *{ margin:0; padding:0; box-sizing: border-box; }
    body{ font-size:16px; padding:20px; }
    .container{ width:400px; margin:0 auto; text-align: center; }
    .header { margin: 20px 0; }
    .header a{ text-decoration: underline; color: #1a49e0; cursor: pointer;}
    .profile .name{ font-size: 16px; margin-bottom: 10px; }
    .profile .avatar{ border-radius: 50%; }
  </style>
</head>
<body>
  <div class="container">
    <div id="header"></div>
  	<div id="profile"></div>
  </div>
</body>
<script type="text/javascript" src="//s2.sjbly.cn/s/apps/scripts/vue.min.js"></script>
<script>
window.onload = function(){
  // 简单store
  var store = {
    debug: true,
    state: {
      userInfo: null
    },
    loginInAction (userInfo) {
      if (this.debug) console.log('loginInAction triggered with', JSON.stringify(userInfo))
      this.state.userInfo = userInfo
      TopHeader.$data.userInfo = userInfo
      Profile.$data.userInfo = userInfo
    },
    loginOutAction() {
      if (this.debug) console.log('loginOutAction triggered')
      this.state.userInfo = null
      TopHeader.$data.userInfo = null
      Profile.$data.userInfo = null
    }
  }

  var TopHeader = new Vue({
    el: '#header',
    data: function () {
      return {
        name: 'header',
        userInfo: store.userInfo
      }
    },
    methods: {
      handleLogOut: function(){
        store.loginOutAction();
      },
      handleLogIn: function(){
        const userInfo = { name: 'Mr.L', avatar: 'http://f2.sjbly.cn/a14/0108/2124/1101mrk_180x180_m.jpg' }
        store.loginInAction(userInfo);
      }
    },
    template: `
      <div class="header">
        <div v-if="userInfo">
          <a @click="handleLogOut">logout</a>
        </div>
        <div v-else>
          <a @click="handleLogIn">login</a>
        </div>
      </div>
    `
  });

  var Profile = new Vue({
    el: '#profile',
    data: function () {
      return {
        name: 'profile',
        userInfo: store.userInfo
      }
    },
    template: `
      <div class="profile">
        <div v-if="userInfo">
          <h3 class="name ">Welcome,{{ userInfo.name }}</h3>
          <img class="avatar" :src="userInfo.avatar" />
        </div>
      </div>
    `
  });
}
</script>
</html>