* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  padding: 15px;
}

.block {
  background-color: #fff;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  padding: 10px;
}

.back-top {
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 999;
}
.back-top .fa {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background: #000;
  margin: 0;
  padding: 0;
  color: #fff;
  border-radius: 100%;
}

.panel {
  background: #fff;
  border: 1px solid #e0e0e0;
  color: #262626;
  margin-bottom: 20px;
}
.panel .panel-title,
.panel .panel-item {
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
.panel .panel-item a {
  display: block;
}
.panel .panel-item:last-child {
  border-bottom: none;
}

.swiper-container,
.swiper-container img {
  height: 300px;
}
.swiper-slide {
  text-align: center;
}
.swiper-slide .swiper-bg {
  width: 100%;
}
.swiper-slide img {
  width: 400px;
}

.menu-nav {
  background: #000;
  border-color: #1a1a1a;
  color: #fff;
  font-size: 14px;
}
.menu-nav .menu-toggle {
  padding: 15px;
}
.menu-nav .menu-toggle i:after {
  content: "Menu";
  padding-left: 10px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-nav .menu-list {
  display: none;
}
.menu-nav .menu-list .menu-item a {
  display: block;
  padding: 0px 15px;
  line-height: 50px;
  color: #fff;
  border-top: 1px solid #eee;
  border-color: #1a1a1a;
}

.line-bottom li {
  height: 40px;
  line-height: 40px;
}
.line-top,
.line-bottom {
  position: relative;
}
.line-top:before,
.line-bottom:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e1e1e1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background: #ccc;
}
.line-bottom:after {
  bottom: 0;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.btn {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #0085de;
  border: 1px solid #0085de;
}
.btn-disable {
  background: #dadada;
  border: 1px solid #dadada;
}

.form {
  padding: 20px 0;
  width: 300px;
  margin: 0 auto;
}
.form .form-header {
  margin-bottom: 25px;
}
.form .form-header .form-title {
  font-size: 20px;
  text-align: center;
}
.form .form-body {
  margin-bottom: 25px;
}
.form .form-label {
  display: block;
  padding: 10px 0;
}

.form .form-group {
  margin-bottom: 15px;
}
.form .form-group label {
  display: block;
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}
.form .form-group input[type="text"] {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.form .form-phone {
  position: relative;
}
.form .form-phone p.form-control {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #d7d7d7;
  font-size: 14px;
  line-height: 40px;
}
.form .form-phone p.form-control a {
  padding: 0px 10px;
  width: 32px;
}
.form .form-phone p.form-control a.disable {
  color: #d7d7d7;
}

.form .form-footer p {
  color: #adadad;
  font-size: 12px;
  padding: 10px 0px;
}
.form .form-footer p.center {
  text-align: center;
  padding: 20px 0px;
}

.calendar .control {
  background: #4b4b4b;
  overflow: hidden;
}
.calendar .control > div {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  float: left;
}
.calendar .control div.prev {
  color: #a2a2a2;
}
.calendar .control div.curr {
  color: #5e697d;
  background: #f5f5f5;
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.calendar .control div.next {
  color: #fff;
}
.calendar .table {
  width: 100%;
}
.calendar .table td {
  border: 1px solid #eee;
  width: 72px;
  height: 65px;
  text-align: right;
  vertical-align: top;
  padding: 10px;
  position: relative;
}
.calendar .table th {
  padding: 20px;
  text-align: left;
  font-weight: 400;
  background: #f5f5f5;
}
.calendar .table td .price {
  position: absolute;
  right: 9px;
  bottom: 3px;
  color: #fe6a00;
}
.calendar .table td.active {
  background: #fe7411;
  color: #fff;
}
.calendar .table td.active .price {
  color: #fff;
}
.calendar .table td.price {
  cursor: pointer;
}
.calendar .table tr.control th {
  padding: 0;
}
.calendar .table tr.control th.curr {
  text-align: center;
  color: #333;
  font-size: 18px;
}
.calendar .table tr.control th.next {
  text-align: right;
}
.calendar .table tr.control a {
  font-size: 18px;
  color: #aaa;
}

.searchform {
  overflow: hidden;
  padding: 15px;
  background: #eee;
  margin-bottom: 15px;
}
.searchform input {
  float: left;
  height: 35px;
  -webkit-appearance: none;
  padding: 0 10px;
}
.searchform .key {
  border: 1px solid #ccc;
  font-size: 16px;
}
.searchform .submit {
  background: #00a1e0;
  color: #fff;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  padding: 0 15px;
}

.help-list li {
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.help-list .header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.help-list .header .control {
  margin-top: 3px;
  color: #777;
}
.help-list .content {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 30px;
  background: #eee;
  display: none;
}

.navbar {
  margin: 20px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.navbar .menu-list {
  display: flex;
}
.navbar .menu-list .menu-item a {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
.navbar .menu-list .menu-current {
  border-bottom: 1px solid #4285f4;
}
.navbar .menu-list .menu-current a {
  color: #4285f4;
}

.media-list .media {
  padding:10px 0;
  border-bottom: 1px solid #ddd;
}
.media {
  display: flex;
  align-items: flex-start;
}
.media-left {
  margin-right: 10px;
}
.media-left img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.media-body {
  flex: 1;
  padding-left:15px;
}
.media-body .media-heading {
  font-size: 16px;
  margin-bottom: 5px;
}
.media-body .media-content {
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.pagebar {
  margin: 30px auto;
  text-align: center;
  font-size: 14px;
}
.pagebar a,
.pagebar a:link,
.pagebar a:visited,
.pagebar a:hover,
.pagebar a:active {
  display: inline-block;
  padding: 8px 15px;
  margin: 0 3px 6px;
  text-align: center;
  color: #0b53a1;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
}
.pagebar a.current,
.pagebar a.extend {
  color: #444;
}
.pagebar a.page:hover,
.pagebar a.page:active,
.pagebar a.current {
  color: #fff;
  background: #111;
  border-color: #111;
}
.pagebar span.pages {
  display: none;
}

.qqmap {
  width: 300px;
  height: 200px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  padding: 25px 15px;
  text-align: center;
  background: #fff;
  color: #333;
  border-radius: 2px;
  font-size: 1.4rem;
  margin-left: -50px;
  margin-top: -50px;
  font-size: 16px;
}
.toast-icon {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 5px;
}

.tags {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.tags .tag {
  display: inline-block;
  background: #f4f5f6;
  padding: 8px 15px;
  margin: 0 15px 15px 0;
  border-radius: 2px;
  font-size: 14px;
  position: relative;
}
.tags .tag .fa {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  background: #cacaca;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.media {
  overflow: hidden;
  display: table;
  width: 100%;
}
.media-left {
  display: table-cell;
  width: 20%;
  text-align: center;
  vertical-align: top;
}
.media-object {
  display: table-cell;
  vertical-align: top;
}
ul.super > li {
  border: 1px solid #ddd;
  margin-top: -1px;
}
ul.sub > li {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
}
ul.sub > li:last-child {
  border-bottom: none;
}

ul.sub > li span {
  flex: 0 0 25%;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  padding: 10px;
}
ul.super .media-left{
  vertical-align: middle;
}

ul.header {
  overflow: hidden;
  background: #ddd;
}
ul.header li {
  float: left;
  width: 20%;
  border-left: -1px;
  box-sizing: border-box;
  padding: 15px 10px;
}

.progressbar {
  background: #f2331c;
  padding: 20px 0;
  margin-bottom: 30px;
}
.progressbar .inner {
  background: #e72b15;
  height: 30px;
  border-radius: 10px;
  margin: 0 20px;
}
.progressbar .number {
  background: #fff8aa;
  width: 40%;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.progressbar .total {
  width: 100% !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 14px;
}

.message-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.message-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.message-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.nine-block-list {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.nine-block-item {
  box-sizing: border-box;
  flex: 0 0 33.33%;
  height: 100px;
  border: 1px solid #ddd;
  border-left: none;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
